@page
@model ClickCart.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "_UserLayout";
}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-danger text-center" style="font-size:medium">@TempData["msg"]</h2>
		</div>
	</div>
</div>
<div class="form-group">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Login to your account</h2>
					<form asp-page-handler="Login" method="post">
						<input asp-for="UserLogin.Username" type="text" value="@Model.UserLogin.Username" placeholder="Username" required minlength="6" />
						<input asp-for="UserLogin.PasswordHash" type="password" value="@Model.UserLogin.PasswordHash" placeholder="Password" required minlength="6" />
						<span>
							<input asp-for="@Model.isKeepSignin" type="checkbox" class="checkbox">
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<form asp-page-handler="Signup" method="post">
						<input asp-for="UserSignUp.Username" type="text" placeholder="Username" required minlength="6" />
						<input asp-for="UserSignUp.PasswordHash" type="password" placeholder="Password" required minlength="6" />
						<input asp-for="UserSignUp.FullName" type="text" placeholder="Fullname" required />
						<input asp-for="UserSignUp.Email" type="email" placeholder="Email Address" required/>
						<input asp-for="UserSignUp.PhoneNumber" type="tel" inputmode="tel" placeholder="Phone Number" required maxlength="10" pattern="^0[0-9]{9}$" />
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</div><!--/form-->
<link href="~/common/css/login.css" rel="stylesheet" />